<ul> Great video clips from movies and TV
  <li><%= link_to "Death Top America", gladiator_video_path %></li>
  <li><%= link_to "Death To America and Buttersauce", air_force_one_video_path %></li>
  <li><%= link_to "This guy....", nelly_video_path %></li>
  <li><%= link_to "Alejandro", dream_theater_video_path %></li>
</ul>